* a {
  text-decoration: none;
}

.container {
  width: 1240px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  box-sizing: border-box;
}

.header {
  padding-top: 62px;
  padding-bottom: 24px;
}
.header .container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  -moz-column-gap: 40px;
       column-gap: 40px;
  height: 48px;
}
.header__logo {
  display: flex;
  align-items: center;
}
.header__logo a {
  display: inline-flex;
  align-items: center;
}
.header__navigation {
  height: 100%;
  align-content: center;
}
.header__navigation ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  -moz-column-gap: 24px;
       column-gap: 24px;
  cursor: pointer;
}
.header__navigation ul li a {
  white-space: nowrap;
  text-decoration: none;
  font-family: "sr";
  font-size: 16px;
  color: black;
}
.header__navigation ul :first-child {
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 4px;
       column-gap: 4px;
  position: relative;
}
.header__navigation ul :first-child .menu_down {
  position: absolute;
  width: 150px;
  z-index: 2000;
  top: 20px;
  left: 0px;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s;
}
.header__navigation ul :first-child .menu_down ul {
  display: flex;
  flex-direction: column;
  padding: 14px;
  background-color: #E3E1D9;
  row-gap: 12px;
  border-radius: 8px;
}
.header__navigation ul :first-child .menu_down ul li {
  width: 100%;
  padding: 14px;
  border-radius: 14px;
  transition: 0.2s;
  cursor: pointer;
}
.header__navigation ul :first-child .menu_down ul li:hover {
  transition: 0.2s;
  background-color: black;
}
.header__navigation ul :first-child .menu_down ul li:hover a {
  color: #f0f0f0;
}
.header__navigation ul :first-child:hover {
  transition: 0.1s;
}
.header__navigation ul :first-child:hover .menu_down {
  opacity: 1;
  visibility: visible;
}
.header__searching {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  -moz-column-gap: 12px;
       column-gap: 12px;
  padding: 12px 16px;
  width: 577px;
  background-color: #f0f0f0;
  border-radius: 62px;
}
.header__searching-icon {
  display: flex;
  align-items: center;
}
.header__searching-content {
  flex: 1;
  height: 100%;
}
.header__searching-content input {
  width: calc(100% - 52px);
  height: 100%;
  border: 1px solid #f0f0f0;
  background-color: transparent;
  outline: none;
  border-radius: 62px;
  color: black;
  font-family: "sr";
  font-size: 16px;
}
.header__cta {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 14px;
       column-gap: 14px;
}
.header__cta-cart, .header__cta-person {
  display: inline-flex;
  align-items: center;
}

.main-wrapper .hero_banner {
  background-color: #f2f0f1;
  width: 100vw;
}
.main-wrapper .hero_banner .container {
  height: 100%;
}
.main-wrapper .hero_banner__content {
  position: absolute;
  z-index: 100;
  width: 50%;
  height: calc(100% - 260px);
  align-content: center;
}
.main-wrapper .hero_banner__content-slogan h1 {
  max-width: 577px;
  width: 100%;
  font-family: interb;
  font-size: 64px;
  line-height: 64px;
}
.main-wrapper .hero_banner__content-text {
  margin: 32px 0px;
}
.main-wrapper .hero_banner__content-text p {
  max-width: 545px;
  font-family: "sr";
  font-size: 16px;
  color: black;
  opacity: 0.6;
  line-height: 22px;
}
.main-wrapper .hero_banner__content-btn {
  margin-bottom: 48px;
}
.main-wrapper .hero_banner__content-btn a {
  display: block;
  width: -moz-max-content;
  width: max-content;
  padding: 16px 54px;
  background-color: black;
  color: white;
  border-radius: 62px;
  font-family: "sm";
  font-size: 16px;
}
.main-wrapper .hero_banner__content-recogni {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 596px;
}
.main-wrapper .hero_banner__content-recogni > div span {
  font-family: "sb";
  font-size: 40px;
}
.main-wrapper .hero_banner__content-recogni > div p {
  font-family: "sr";
  font-size: 16px;
  color: black;
  opacity: 0.6;
}
.main-wrapper .hero_banner__content-recogni > div.products {
  position: relative;
}
.main-wrapper .hero_banner__content-recogni > div.products::before {
  position: absolute;
  content: "";
  border: 1px solid black;
  opacity: 0.1;
  height: 100%;
  left: -32px;
  top: 0;
}
.main-wrapper .hero_banner__content-recogni > div.products::after {
  position: absolute;
  content: "";
  border: 1px solid black;
  opacity: 0.1;
  height: 100%;
  right: -32px;
  top: 0;
}
.main-wrapper .hero_banner__img {
  width: 100%;
  height: calc(100vh - 260px);
  position: relative;
}
.main-wrapper .hero_banner__img .container {
  position: relative;
  overflow: hidden;
}
.main-wrapper .hero_banner__img img {
  height: 115%;
  width: 106%;
  -o-object-fit: contain;
     object-fit: contain;
}
.main-wrapper .hero_banner__img-accessories {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.main-wrapper .hero_banner__img-accessories :first-child {
  position: absolute;
  top: 64px;
  right: 19px;
  width: 104px;
  height: 104px;
}
.main-wrapper .hero_banner__img-accessories :last-child {
  position: absolute;
  width: 56px;
  height: 56px;
  top: 297px;
  right: 534px;
}
.main-wrapper .hero_banner__brands {
  background-color: black;
}
.main-wrapper .hero_banner__brands .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 126px;
}/*# sourceMappingURL=style.css.map */